@use 'variables' as *;
@use 'base' as *;
.configuracion-factores-deducibles {
	text-align: center;
	.placeholder {
		@include body-regular;
		color: $verde;
		&.error {
			color: $rojo;
		}
	}

	&__title {
		@include h5;
		text-align: center;
		margin-bottom: 24px;
		padding-top: 32px;
	&__breadcrumbs {
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 160%;
		color: rgba($gray-900, 0.66);
	&__data {
		overflow-x: auto;
	&__actions {
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
		margin-top: 2rem;
		justify-content: space-between;
	&__content{
		padding-left: 2rem;
		padding-right: 2rem;
	
}
