<div class="modal-edit">
	<div class="modal-edit__breadcrumb">
		Grupo de Seguro: &nbsp;
		<div class="green">{{ grupoSeguro().descripcion }}</div>
		&nbsp; - &nbsp; Plan: &nbsp;
		<div class="green">{{ plan() }}</div>
		&nbsp; - &nbsp; Línea: &nbsp;
		<div class="green">{{ linea().descripcion }}</div>
		&nbsp; - &nbsp; Riesgo: &nbsp;
		<div class="green">{{ riesgo().idRiesgo }} - {{ riesgo().descripcionRiesgo }}</div>
	</div>

	<div class="content">
		<ui-tabs [data]="tabData" class="tabs-component">
			<ng-template tabContent title="FACTORES PARA TARIFICADO" let-item>
				<div class="modal-edit__actions">
					<ui-button text="Seleccionar" additionalClasses="btn__secondary xl iFirst button-text"
						icon="icon-add" (click)="anadirEliminarFactoresModal(true, false)"></ui-button>
				</div>
				@if (factoresSimplesSetted()) {
				@for (factor of listFactoresSimples(); track factor.idFactorTarifa) {
				<ui-accordion title="{{ getNombreFactor(factor) }}" [status]="0" [showIcon]="false">
					<div class="modal-edit__actions-valores">
						@if (!factor.idDeducible) {
						<ui-button text="Añadir grupo de valores" additionalClasses="btn__primary xl button-text"
							(click)="anadirEditarGruposValoresFactoresModal(factor, true, false, false)"></ui-button>
						} @else {
						<div class="modal-edit__actions">
							<ui-button text="Descargar plantilla"
								additionalClasses="btn__secondary xl iFirst button-text" icon="icon-download"
								(click)="getDataAndDownloadTemplate(factor)"></ui-button>

							<ui-button text="Importar" additionalClasses="btn__secondary xl iFirst button-text"
								icon="icon-upload" (click)="openImportModal(factor)"></ui-button>
							<!-- Comentado hasta su desarrollo
										<ui-button
											text="Exportar"
											additionalClasses="btn__secondary xl iFirst button-text"
											icon="icon-download"
										></ui-button>
										-->
						</div>
						}
					</div>


					@defer (when valoresSimplesSetted()) {
					@if (
					factor.grupoValores && factor.grupoValores.length > 0 && valoresSimplesSetted()
					) {
					<div>
						<ui-table [dataOriginal]="getGruposValoresSimples(factor.grupoValores) || []"
							[showAddButton]="false" [defaultActions]="false" [showPagination]="true">
							<ng-template tableColumn header="Nombre" [headerIsVisible]="true" let-valor>
								@if (valor.valores?.length > 1) {
								{{ valor.nombre }}
								} @else {
								{{ valor?.valores[0]?.idValor }}-{{ valor.nombre }}
								}
							</ng-template>

							<ng-template tableColumn header="Tipo" [headerIsVisible]="true" let-valor>
								{{ valor.valores?.length > 1 ? 'Grupo' : 'Individual' }}
							</ng-template>

							<ng-template tableColumn header="Ver" [headerIsVisible]="false" let-valor>
								@if (valor.valores?.length > 1) {
								<i class="icon-eye" (click)="consultarGruposValoresModal(factor, true, false)"></i>
								}
							</ng-template>

							@if (!factor.idDeducible) {
							<ng-template tableColumn header="Editar" [headerIsVisible]="false" let-valor>
								<i class="icon-edit" (click)="anadirEditarGruposValoresFactoresModal(
													factor,
													true,
													false,
													true,
													valor
												)
											">
								</i>
							</ng-template>

							<ng-template tableColumn header="Eliminar" [headerIsVisible]="false" let-valor>
								<i class="icon-trash" (click)="deleteValorFactor(factor, valor, true, false)"
									(keydown.enter)="deleteValorFactor(factor, valor, true, false)" tabindex="0"></i>
							</ng-template>
							}
						</ui-table>
					</div>
					} @else {
					<div class="modal-edit__principal-text">
						<span>No hay grupos de valores. </span>
					</div>
					}
					} @placeholder {
					<span class="placeholder">Cargando grupos de valores... </span>
					}

				</ui-accordion>
				}
				}
			</ng-template>
			<ng-template tabContent title="FACTORES PARA PRECIO" let-item>
				<div class="modal-edit__actions">
					<ui-button text="Seleccionar" additionalClasses="btn__secondary xl iFirst button-text"
						icon="icon-add" (click)="anadirEliminarFactoresModal(false, true)"></ui-button>
				</div>

				@if (factoresPrecioSetted()) {
				@for (factor of listFactoresPrecio(); track factor.idFactorTarifa) {
				<ui-accordion title="{{ getNombreFactor(factor) }}" [status]="0" [showIcon]="false">
					@if (factor.idFactor != FACTOR_AMBITO) {
					<div class="modal-edit__actions-valores">
						<ui-button text="Añadir grupo de valores" additionalClasses="btn__primary xl button-text"
							(click)="anadirEditarGruposValoresFactoresModal(factor, false, true, false)"></ui-button>
					</div>

					@defer (when valoresPrecioSetted()) {
					@if (
					factor.grupoValores && factor.grupoValores.length > 0 && valoresPrecioSetted()
					) {
					<div>
						<ui-table [dataOriginal]="getGruposValoresPrecio(factor.grupoValores) || []"
							[showAddButton]="false" [defaultActions]="false" [showPagination]="true">
							<ng-template tableColumn header="Nombre" [headerIsVisible]="true" let-valor>
								{{ valor.nombre }}
							</ng-template>

							<ng-template tableColumn header="Tipo" [headerIsVisible]="true" let-valor>
								{{ valor.valores.length > 1 ? 'Grupo' : 'Individual' }}
							</ng-template>

							<ng-template tableColumn header="Ver" [headerIsVisible]="false" let-valor>
								@if (valor.valores.length > 1) {
								<i class="icon-eye" (click)="consultarGruposValoresModal(factor, false, true)"></i>
								}
							</ng-template>

							@if (!factor.idDeducible) {
							<ng-template tableColumn header="Editar" [headerIsVisible]="false" let-valor>
								<i class="icon-edit" (click)="anadirEditarGruposValoresFactoresModal(
											factor,
											false,
											true,
											true,
											valor
										)
									">
								</i>
							</ng-template>

							<ng-template tableColumn header="Eliminar" [headerIsVisible]="false" let-valor>
								<i class="icon-trash" (click)="deleteValorFactor(factor, valor, false, true)"
									(keydown.enter)="deleteValorFactor(factor, valor, false, true)" tabindex="0"></i>
							</ng-template>
							}

						</ui-table>
					</div>
					} @else {
					<div class="modal-edit__principal-text">
						<span>No hay grupos de valores. </span>
					</div>
					}
					} @placeholder {
					<span class="placeholder">Cargando grupos de valores... </span>
					}
					} @else {
					<span class="placeholder">No se puede gestionar los grupo de valores para el ambito en esta
						sección.</span>
					}
				</ui-accordion>
				}
				}
			</ng-template>
		</ui-tabs>
	</div>

	<div class="modal-edit__actions">
		<ui-button text="Cancelar" additionalClasses="btn__primary--red xl" (click)="cancel()"></ui-button>

		<ui-button text="Guardar" additionalClasses="btn__primary xl" (click)="save()"></ui-button>
	</div>
</div>