@use 'variables' as *;
@use 'base' as *;

.consultaModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  h2 {
    color: $verde;
    @include h6;
    font-size: 24px;
    margin-bottom: 12px;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  &__select {
    margin: 0 auto;
  &__principal-text {
    color: #000;
    text-align: center;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  &__breadcrumb {
    font-family: $font;
    color: rgba($gray-900, 0.66);
    font-size: 14px;
    gap: 4px;
    padding-top: 8px;
  &__actions {
    padding: 20px 0;
  .green {
    font-weight: 600;
  .placeholder {
    @include body-regular;
  .error {
    color: $rojo;
}
