@use 'variables' as *;
@use 'base' as *;

.configuracion-base {
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	gap: 50px;
	margin-top: 2rem;
	
	&__combos {
		display: flex;
		align-items: center;
		gap: 24px;
		width: fit-content;
	}
	.placeholder {
		@include body-regular;
		color: $verde;
	.error {
		color: $rojo;
	&__actions {
		flex-direction: row;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
		margin-top: 2rem;
}
.button-text{
	text-transform: none;
