@use 'variables' as *;
@use 'base' as *;

.copiarCoeficientesModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px 40px;
	gap: 16px;
	&__title {
		color: $verde;
		@include h6;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 8px;
	}
	&__subtitle {
		color: #000;
		font-family: $font;
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
		margin-bottom: 16px;
	&__select {
		min-width: 200px;
		margin: 0 auto 24px;
	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
		margin-top: 8px;
}
