@if (grupoSeguroSelectOptions().length >= 1) {
	<div class="configuracion-base__combos">
		<ui-select
			[selectOptions]="grupoSeguroSelectOptions()"
			label="Grupo de seguro"
			type="select"
			placeholder="Grupo de seguro"
			(selectChanges)="setGrupoSeguro($event); isStepValid.emit(isAllPreviousSetted())"
			[value]="grupoSeguro().id">
		</ui-select>

		@defer (when grupoSeguroSetted() || isAllPreviousSetted()) {
			@if (planSelectOptions().length >= 1) {
				<ui-select
					[selectOptions]="planSelectOptions()"
					label="Plan"
					type="select"
					placeholder="Plan"
					(selectChanges)="setPlan($event); isStepValid.emit(isAllPreviousSetted())"
					[value]="plan()">
				</ui-select>
			} @else {
				<span class="placeholder">Cargando planes...</span>
			}
		}

		@defer (when planSetted() || isAllPreviousSetted()) {
			@if (lineaSelectOptions().length >= 1) {
				<ui-select
					[selectOptions]="lineaSelectOptions()"
					label="Línea"
					type="select"
					placeholder="Línea"
					(selectChanges)="setLinea($event); isStepValid.emit(isAllPreviousSetted())"
					[value]="linea().id">
				</ui-select>
			} @else {
				<span class="placeholder">Cargando líneas...</span>
			}
		}
	</div>
} @else {
	<span class="placeholder">Cargando grupos de seguro...</span>
}

<div class="configuracion-base__actions">
	<ui-button
		text="Copiar coeficientes de otro plan"
		additionalClasses="btn__secondary xl iFirst button-text"
		icon="icon-copy"
        (click)="copiarCoeficientesModal()">
	</ui-button>

</div>
