@use 'variables' as *;
@use 'base' as *;

.configuracion-base {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 4rem;
	margin-top: 1rem;
	gap: 2rem;

	&__combos {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		gap: 1.5rem;
		flex-wrap: wrap;
		width: 100%;
		max-width: 900px;
	}

	.placeholder {
		@include body-regular;
		color: $color-primary-green;
		text-align: center;
	}

	.error {
		@include body-regular;
		color: $color-primary-red;
		text-align: center;
	}

	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		margin-top: 1rem;
		flex-wrap: wrap;
	}

	ui-button {
		min-width: 260px;
	}
}

.button-text {
	text-transform: none;
}
