@use 'variables' as *;
@use 'base' as *;
.modal-anadir-factor-deducible {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	h2 {
		color: $color-primary-green;
		@include h6;
		font-size: 22px;
		margin-bottom: 12px;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
	}

	&__principal-text{
		color: $color-primary-green;
		text-align: center;
		font-family: Frutiger;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; 
	}

	&__text-container{
		text-align: left; 
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.placeholder {
		@include body-regular;
		color: $color-primary-green;
	}

	.error {
		@include body-regular;
		color: $color-primary-red;
	}

}


