@use 'variables' as *;
@use 'base' as *;

.definicion-factores {
	text-align: center;
	.placeholder {
		@include body-regular;
		color: $verde;
		&.error {
			color: $rojo;
		}
	}
	
	&__breadcrumbs {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		padding: 1rem 0;
		.green {
			color: $verde;
	&__data {
		flex-direction: row;
		justify-content: center;
		overflow-x: auto;
}
