@use 'variables' as *;
@use 'base' as *;
.addModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	h2 {
		color: $color-primary-green;
		@include h6;
		font-size: 22px;
	}
	ui-button {
		margin-top: 12px;
	}
}
