<div class="modalLimites">
	<h2>Añadir Límites</h2>

	<div class="select-row">

		<div class="select-column">
			<span class="select-label">Límite Mínimo</span>
			<ui-select
				[selectOptions]=[]
				placeholder=""
			></ui-select>
		</div>

		<div class="select-column">
			<span class="select-label">Límite Máximo</span>
			<ui-select
				[selectOptions]=[]
				placeholder=""
			></ui-select>
		</div>

	</div>

	<div class="actions">
		<ui-button
			text="Cancelar"
			additionalClasses="btn__primary--red xl"
			(click)="cancel()"
		/>
		<ui-button
			text="Aplicar"
			additionalClasses="btn__primary xl"
		/>
	</div>
</div>
