@use 'variables' as *;
@use 'base' as *;

.modalLimites {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	h2 {
		color: $verde;
		font-size: 22px;
		font-family: $font;
		margin-bottom: 0px;
	}
	.select-row {
		display: flex;
		justify-content: center;
		gap: 80px;
		margin-top: 25px;
		width: 100%;
	.select-column {
		flex-direction: column;
		gap: 6px;
		align-items: flex-start;
	.select-label {
		color: rgba(27, 27, 31, 0.66);
		font-size: 24px;
		font-weight: 400;
		margin-left: 4px;
	.actions {
		flex-direction: row;
		align-items: center;
		padding-top: 35px;
		padding-bottom: 20px;
		gap: 60px;
}
