@use 'variables' as *;
@use 'base' as *;

.consultaModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	h2 {
		color: $verde;
		@include h6;
		font-size: 24px;
		margin-bottom: 12px;
		text-align: center;
	}
	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
	&__text-container {
		text-align: left;
		width: 100%;
	&__principal-text {
		color: #000;
		font-family: $font;
		font-size: 16px;
		font-weight: 400;
		line-height: 160%;
	&__breadcrumb {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		font-size: 14px;
		justify-content: center;
		padding-top: 12px;
		padding-left: 52px;
		padding-right: 52px;
	&__select {
		width: fit-content;
		position: relative;
		left: 25%;
	.consultaModal__select {
		&:not(:first-child) {
			margin-top: 12px;
		}
	.green {
}
