@use 'variables' as *;
@use 'base' as *;
.base {
	padding: 52px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	flex: 1;

	&__title {
		@include h5;
		color: $color-primary-green;
		display: flex;
		align-items: center;
		justify-content: center;
        padding: 52px;
	}

	&__breadcrumb {
		font-family: "FrutigerBold";
		color: #1B1B1FA8;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 160%;
		display: flex;
		align-items: center;
		justify-content: center;
        padding-top: 12px;
		padding-bottom: 52px;
		padding-left: 52px;
		padding-right: 52px;
	}
}

.green{
	color: $color-primary-green;
}

.content{
    padding-left: 2rem;
    padding-right: 2rem;
}
