@use 'variables' as *;
@use 'base' as *;
.base {
	padding: 52px;
	display: flex;
	flex-direction: column;
	gap: 36px;
	flex: 1;

	&__title {
		@include h5;
		color: $verde;
		display: flex;
		align-items: center;
		justify-content: center;
        padding: 52px;
	}
	&__breadcrumb {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 160%;
        padding-top: 12px;
		padding-bottom: 52px;
		padding-left: 52px;
		padding-right: 52px;
}
.green{
	color: $verde;
.content{
    padding-left: 2rem;
    padding-right: 2rem;
