@use 'variables' as *;
@use 'base' as *;

.creacionCoeficientes {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	padding: 20px 40px;
	&__breadcrumb {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		.green {
			color: $verde;
		}
	}
	&__actions {
		flex-direction: row;
		padding-top: 20px;
		padding-bottom: 20px;
		gap: 50px;
		flex: 0 0 auto;
	&__accordion {
		width: 100%;
		margin: 0 auto;
	&__actions-valores {
		justify-content: center;
		margin-bottom: 12px;
	&__no-data {
		text-align: center;
		color: #666;
		font-family: $font;
		padding: 12px;
	&__footer {
		justify-content: space-between;
		max-width: 1200px;
		margin-top: 20px;
}
