@use 'variables' as *;
@use 'base' as *;
// * {
// 	outline: 1px solid red;
// }
.title {
	@include h5;
	color: $verde;
	text-align: center;
	margin-bottom: 24px;
	padding-top: 32px;
}

.factores {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
		&--buttons {
			display: flex;
			gap: 24px;
			flex-wrap: wrap;
			justify-content: center;
			ui-button {
				min-width: 220px;
			}
		}
	}
