@use 'variables' as *;
@use 'base' as *;
.detalle{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:36px;
    padding:24px;

    h2{
        font-size:28px;
        color:$verde;
        margin-bottom:12px;
        .code-value {
            color: #000;
        }
    }
}
.frame{
    width:1040px;
    background:white;
    border-radius:12px;
    box-shadow:0px 2px 8px rgba(0,0,0,0.25);
    gap:24px;
.tags{
    flex-wrap:wrap;
    gap:16px;
ui-tag.tag p{
    font-weight:600;   // <--- texto en negrita
.tag{
    padding:4px 16px;
    border-radius:6px;
    background:$verde;
    color:white;
    font-size:18px;
.close-btn{
    margin-top:8px;
