@use 'variables' as *;
@use 'base' as *;

.combinacion-factores {
	text-align: center;
	.placeholder {
		@include body-regular;
		color: $verde;
		&.error {
			color: $rojo;
		}
	}
	
	&__breadcrumbs {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		padding: 1rem 0;
    	padding-left: 3rem;
		.green {
			color: $verde;
	&__data {
		flex-direction: row;
		justify-content: center;
		overflow-x: auto;
	&__actions {
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
		margin-top: 2rem;
		justify-content: space-between;
	ui-table {
		min-width: 92%;
}
