@use 'variables' as *;
@use 'base' as *;

.combinacion-factores {
	text-align: center;
	.placeholder {
		@include body-regular;
		color: $color-primary-green;
		&.error {
			color: $color-primary-red;
		}
	}
	
	&__breadcrumbs {
		font-family: 'FrutigerBold';
		color: #1b1b1fa8;
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		padding: 1rem 0;
    	padding-left: 3rem;
		.green {
			color: $color-primary-green;
		}
	}

	&__data {
		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow-x: auto;
	}

	&__actions {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
		margin-top: 2rem;
		justify-content: space-between;
	}

	ui-table {
		min-width: 92%;
	}
	
}
