@use 'variables' as *;
@use 'base' as *;
// * {
// 	outline: 1px solid red;
// }

.title {
	@include h5;
	color: $color-primary-green;
	text-align: center;
	margin-bottom: 24px;
	padding-top: 32px;
}

.riesgos {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-right: 300px;
		padding-left: 300px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

//Se sobreescribe el estilo de "Mostrando los registos" de la paginación del datagrid
.tableBasic__pagination--current {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}
