@use 'variables' as *;
@use 'base' as *;
.addModal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	h2 {
		color: $verde;
		@include h6;
		font-size: 22px;
		margin-bottom: 12px;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 50px;
		gap: 50px;
	.placeholder {
		@include body-regular;
	.error {
		color: $rojo;
	//Temporary fix for the transfer list component
	::ng-deep {
		.transferList__box{
				max-height: 150px;
				overflow: auto;
			}
}
