@use 'variables' as *;
@use 'base' as *;

.editModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  &__title {
    color: $verde;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: $font;
  }
  &__form {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    label {
      font-family: $font;
      font-size: 16px;
      margin-bottom: 4px;
      display: block;
    }
  &__actions {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
