<div class="deleteModal">
	<h2 class="deleteModal__title">Eliminar Riesgo Tarificado</h2>
	<div class="deleteModal__text-container">
		<span class="deleteModal__principal-text"> ¿Está seguro de eliminar el riesgo {{ combinacionFactor().nombre }}? </span>
		<span class="deleteModal__secondary-text"> 
			<div class="error">*</div>
			Esta acción no se puede deshacer 
		</span>
	</div>
	
	<div class="deleteModal__actions">
		<ui-button
			text="Cancelar"
			additionalClasses="btn__primary--red xl"
			(click)="cancel()"
		></ui-button>

		<ui-button
			text="Eliminar"
			additionalClasses="btn__primary xl"
			(click)="deleteRiesgo()"
		></ui-button>
	</div>
</div>
