@use 'variables' as *;
@use 'base' as *;

.tablaFactores {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding: 20px 40px;
	&__breadcrumb {
		font-family: $font;
		color: rgba($gray-900, 0.66);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;
		font-size: 16px;
		.green {
			color: $verde;
			font-weight: 600;
		}
	}
	&__actions {
		flex-wrap: wrap;
		gap: 4rem; // más espacio entre botones
		width: 100%;
		max-width: 1200px;
		margin: 20px 0;
		ui-button {
			min-width: 220px;
			text-align: center;
	ui-datagrid {
		margin-top: 10px;
	&__footer {
		justify-content: flex-end;
		margin-top: 24px;
}
