@use 'variables' as *;
@use 'base' as *;

.modal-gestion {
	height: 85vh;
	overflow: auto;
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}
	// siempre 10 por página
	.pagination__pageSize {
		display: none;
	.title {
		@include h5;
		color: $verde;
		text-align: center;
		margin-bottom: 24px;
		padding-top: 32px;
	.content {
		max-height: 60%;
		width: 95%;
		flex: 1 1 auto;
		min-height: 0;
		.cellContainer-text {
			display: flex;
			justify-content: flex-start;
			width: 100%;
		}
}
